@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    /* --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .button-style{
    @apply inline-flex items-center justify-start whitespace-nowrap font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 px-4 py-2
    rounded-2xl relative overflow-visible h-12

    bg-gray-100 shadow-xl
  }

  .homepage-text{
    @apply w-fit shadow-md bg-emerald-800 p-2 pr-3 rounded-r-3xl
    max-lg:text-3xl max-md:text-xl max-sm:text-lg 
  }
  

  .gradient-background {
    width: 200px; /* Poți ajusta lățimea și înălțimea după necesitate */
    height: 200px;
    background: radial-gradient(circle, rgb(0, 49, 123) 0%, rgba(255, 255, 255, 0) 70%);
    display: flex; /* Pentru a centra conținutul */
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Opțional, pentru un aspect circular */
  }

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Culoarea gri a cercului */
    border-top: 4px solid white; /* Culoarea cercului care se rotește */
    border-radius: 50%; /* Face cercul rotund */
    width: 20px; /* Lățimea cercului */
    height: 20px; /* Înălțimea cercului */
    animation: spin 0.2s linear infinite; /* Animația de rotație */
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Începe de la 0 grade */
    }
    100% {
      transform: rotate(360deg); /* La 100% ajunge la 360 de grade */
    }
  }


  .card {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  .transparent-top::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity));
  z-index: 0;
  }

  .transparent-bottom::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  }

  .like-button{
    @apply flex items-center justify-center rounded-md cursor-pointer transition-colors duration-300
  }

  .nutrition-field{
    @apply font-bold h-8 text-center
  }

}



@layer base {
  * {
    @apply border-border outline-ring/50;

  
  }
  body {
    @apply bg-background text-foreground;

  
  }

  
}
